section{
    padding:70px 0;
}
#jumbo-image{
    background-size:cover;
    min-height:640px;
}
.step{ color:#fff; }
h1, h2 > small { color:#fff; text-shadow: 1px 1px 2px #000; }
.panel-default{
    background-color:rgba(0,0,0,.5)
}
form-screen{
    position:absolute;
    min-width:100%;
    max-width:1000px;
    z-index: 100;
}